@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import '~antd/dist/antd.css'; */
/* @import 'antd/dist/antd.css'; */


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*{
  /* transition: 0.3s all linear; */
  box-sizing:border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(90deg, #1a2550, #8b376d);;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
