@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import '~antd/dist/antd.css'; */
/* @import 'antd/dist/antd.css'; */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
* {
  /* transition: 0.3s all linear; */
  box-sizing: border-box;
  /* font-size:62.5%; */
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(90deg, #1a2550, #8b376d);; */
}
html {
  background-color: #1d2125;
}
*{
  color:#9FaDBC;
}
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
